/* header-top */
.header_top {
  background-color: yellow;
  height: 80px;
  /* position:fixed; */
}
.navbar {
  background-color: rgb(150, 207, 111);
  height:80px;
}
/* /header-top */
/* jumbo */
.jumbo {
  background-color: red;
  width: 100%;
  height: 700px;
}
.jumbo_text {
  background-color: pink;
  height: 700px;

}
.box_text {
  height: 500px;
  width: 600px;
  background-color: blue;
  float: left;
}
.jumbo_form {
  height: 500px;
  width: 500px;
  background-color: blue;
  float: right;
}
/* /jumbo */
/* sezioni-loghi */
.sezione_loghi {
  background-color: rgb(128, 63, 99);
  height: 200px;
  width: 100%;
}
/* /sezioni-loghi */
/* sezione deploy */
.top_deploy {
  background-color: rgb(106, 71, 22);
}
.col_text {
  background-color: rgb(219, 97, 246);
  height: 400px;
}
/* /sezione deploy */
/* sezione designed */
.sezione_designed {
  background-color: red;
  height: 400px;
  margin: 0 auto;
}
.box_designed {
  width: 60%;
  background-color: rgb(116, 117, 195);
  margin: 0 auto;
  height: 400px;
}
.text_designed {
  
}
.text_designed_footer {

}
